@charset "utf-8";

	table.type05 {
/* 		border-collapse: separate; */
		border-spacing: 1px;
		text-align: left;
/* 		line-height: 1.5; */
		border-top: 1px solid #ccc;
/* 		margin: 5px 5px; */
		width:100%;
	}
	table.type05 th {
		width: 150px;
		padding: 10px;
		font-weight: bold;
		vertical-align: top;
		border: 1px solid #ccc;
		background: #eaebf0;
	}
	table.type05 td {
		width: 350px;
		padding: 10px;
		vertical-align: top;
		border: 1px solid #ccc;
		background: #f7f9fc;
	}
